@charset "utf-8";
/* all tage */
*{
	margin: 0;
	padding: 0;
	border: none;
	font-size: 1.5625vw;
	font-family: "microsoft YaHei";
}
html,
body{
	height: 100%;
	overflow: hidden;
}
/* music */
.music{
	position: fixed;
	top: 3vh;
	right: 4vw;
	z-index: 5;
	width: 15vw;
	height: 15vw;
	border: 4px solid #342e83;
	border-radius: 50%;
	background: #fff;
}
.music > img:first-of-type{
	z-index: 1;
	position: absolute;
	top: 24%;
	right: 2.5%;
	width: 28.421%;
}
.music > img:last-of-type{
	z-index: 0;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	width: 68.421%;
}
/* -------------- */
.music>img.play{
	-webkit-animation: music-disc 4s linear infinite ;
	-o-animation: music-disc 4s linear infinite ;
	animation: music-disc 4s linear infinite ;
}
@-webkit-keyframes music-disc{
	0%{
		-webkit-transform: rotate(0deg);
			transform: rotate(0deg);
	}
	100%{
		-webkit-transform: rotate(360deg);
			transform: rotate(360deg);
	}
}
@keyframes music-disc{
	0%{
		-webkit-transform: rotate(0deg);
			transform: rotate(0deg);
	}
	100%{
		-webkit-transform: rotate(360deg);
			transform: rotate(360deg);
	}
}
/* page-bg */
.page{
	position: absolute;
	width: 100%;
	height: 100%;
}
.page >.bg{
	z-index: -1;
	position: absolute;
	width: 100%;
	height: 100%;
}
/* page1 */
#page1{
	display: block;
}
#page1>.bg{
	background: url("../images/p1_bg.jpg") no-repeat center;
	background-size: 100%;
}
#page1>.p1-lantern{
	position: absolute;
	bottom: -10%;
	right: 0;
	left: 0;
	margin: auto;
	width: 45vw;
	height: 71.2vh;
	font-size: 3.506rem;
	color: #fff;
	padding-top: 31vh;
	box-sizing: border-box;
	text-align: center; 
}
#page1>.p1-lantern:before{
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	margin: auto;
	z-index: -1;
	content: "";
	width: 30vw;
	height: 30vw;
	border-radius: 50%;
	background: #bdbbda;
	opacity: .5;
	box-shadow: 0 0 10vw 10vw #bdbbda;
	-webkit-animation: p1-lantern .5s infinite alternate ;
	animation: p1-lantern .5s infinite alternate ;
}
@-webkit-keyframes p1-lantern{
	0%{
		-webkit-transform: scale(.8,.8);
			transform: scale(.8,.8);
	}
	100%{
		opacity: 1;
	}
}
@keyframes p1-lantern{
	0%{
		-webkit-transform: scale(.8,.8);
			transform: scale(.8,.8);
	}
	100%{
		opacity: 1;
	}
}
#page1>.p1-imooc{
	position: absolute;
	right: 0;
	left: 0;
	bottom: 9vh;
	margin: auto;
	background: url("../images/p1_imooc.png") no-repeat center;
	background-size: 100%;
	width: 27.656vw;
	height: 18.63vh;
}
#page1>.p1-words{
	font-size: 2.134rem;
	position: absolute;
	right: 0;
	bottom: 48px;
	left: 0;
	text-align: center;
	color: #231815;
}
/* page2 */
#page2{
	display: none;
	transition: .5s;
}
#page2.fadeout{
	opacity: .3;
	transform: translate(0,-100%);
	-webkit-transform: translate(0,-100%);
}
#page2>.p2-bg-loading{
	z-index: 4;
	background: #ef1639;
	-webkit-animation: p2-bg-loading 1s linear forwards;
	animation: p2-bg-loading 1s linear forwards;
}
@-webkit-keyframes p2-bg-loading{
	0%{
		opacity: 1;
	}
	100%{
		opacity: 0;
	}
}
@keyframes p2-bg-loading{
	0%{
		opacity: 1;
	}
	100%{
		opacity: 0;
	}
}
#page2>.bg{
	background: url("../images/p2_bg.jpg") no-repeat center;
	background-size: 100%;
}
#page2>.p2-circle{
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin:  auto;
	border-radius: 50%;
	background: url("../images/p2_circle_outer.png") no-repeat center center;
	background-size: 100%;
	width: 59.375vw;
	height: 59.375vw;
	-webkit-animation: p2-circle3 1s linear 3s infinite ;
	animation: p2-circle3 1s linear 3s infinite ;
}
@-webkit-keyframes p2-circle3{
	0%{
		-webkit-transform: rotate(0deg);
			transform: rotate(0deg);
	}
	100%{
		-webkit-transform: rotate(-360deg);
			transform: rotate(-360deg);
	}
}
@keyframes p2-circle3{
	0%{
		-webkit-transform: rotate(0deg);
			transform: rotate(0deg);
	}
	100%{
		-webkit-transform: rotate(-360deg);
			transform: rotate(-360deg);
	}
}
#page2>.p2-circle:before{
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin:  auto;
	content: "";
	border-radius: 50%;
	background: url("../images/p2_circle_middle.png") no-repeat center center;
	background-size: 100%;
	width: 45.625vw;
	height: 45.625vw;
	-webkit-animation: p2-circle2 1s linear 2s infinite ;
	animation: p2-circle2 1s linear 2s infinite ;
}
@-webkit-keyframes p2-circle2{
	0%{
		-webkit-transform: rotate(0deg);
			transform: rotate(0deg);
	}
	100%{
		-webkit-transform: rotate(720deg);
			transform: rotate(720deg);
	}
}
@keyframes p2-circle2{
	0%{
		-webkit-transform: rotate(0deg);
			transform: rotate(0deg);
	}
	100%{
		-webkit-transform: rotate(720deg);
			transform: rotate(720deg);
	}
}
#page2>.p2-circle:after{
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin:  auto;
	content: "";
	border-radius: 50%;
	background: url("../images/p2_circle_inner.png") no-repeat center center;
	background-size: 100%;
	width: 39.937vw;
	height: 39.937vw;
	-webkit-animation: p2-circle 1s linear 1s infinite ;
	animation: p2-circle 1s linear 1s infinite ;
}
@-webkit-keyframes p2-circle{
	0%{
		-webkit-transform: rotate(0deg);
			transform: rotate(0deg);
	}
	100%{
		-webkit-transform: rotate(1080deg);
			transform: rotate(1080deg);
	}
}
@keyframes p2-circle{
	0%{
		-webkit-transform: rotate(0deg);
			transform: rotate(0deg);
	}
	100%{
		-webkit-transform: rotate(1080deg);
			transform: rotate(1080deg);
	}
}
#page2>.p2-2016{
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin:  auto;
	background: url("../images/p2_2016.png") no-repeat center center;
	background-size: 100%;
	width: 27.5vw;
	height: 6.24vh;
}
/* page3 */
#page3{
	display: none;
	-webkit-transition: .5s;
	transition: .5s;
}
#page3.fadeIn{
	-webkit-transform: translate(0,-100%);
			transform: translate(0,-100%);
}
#page3>.bg{
	background: url("../images/p3_bg.jpg") no-repeat center;
	background-size: 100%;
}

#page3>.p3-blessing{
	position: absolute;
	bottom: 10vh;
	left: 0;
	right: 0;
	width: 32vw;
	height: 32vw;
	border-radius: 50%;
	margin: auto;
	background: url("../images/p3_blessing.jpg")no-repeat center center;
	background-size: 100%;
	-webkit-animation: p3-blessing 3s linear infinite ;
	animation: p3-blessing 2s linear infinite ;
}
@-webkit-keyframes p3-blessing{
	0%{
		-webkit-transform: rotate(0deg);
			transform: rotate(0deg);
	}
	100%{
		-webkit-transform: rotate(360deg);
			transform: rotate(360deg);
	}
}
@keyframes p3-blessing{
	0%{
		-webkit-transform: rotate(0deg);
			transform: rotate(0deg);
	}
	100%{
		-webkit-transform: rotate(360deg);
			transform: rotate(360deg);
	}
}